/*
Name: Andy Dao
*/

body {
    background-color: ivory;
    font-family: Calibri, serif;
}

#FEESH {
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 darkslateblue, 0 6px 20px 0 black;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
}

#FEESH:hover {
    box-shadow: 0 4px 40px 0 darkcyan, 0 6px 60px 0 black;
    transform: scale(1.2) rotate(360deg);
    -webkit-transform: scale(1.2) rotate(360deg);
}

.navbar {
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 10px;
}

.nav_links {
    display: flex;
    justify-content: center;
    border: black double;
    /*padding: 1em;*/
    margin: 5px;
    /*height: 1em;*/

    color: white;

    animation-name: highlight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    background-size: 200%;
    background-image: linear-gradient(to right, slategrey 0%, transparent 100%),
    linear-gradient(#DD00DD, #FF00FF);
}

.nav_links:hover {
    animation: 1s ease-in-out infinite highlight forwards;
    -moz-animation: 1s ease-in-out infinite highlight forwards;
    -webkit-animation: 1s ease-in-out infinite highlight forwards;
}

.nav_links img {
    width: 1em;
}

#homeIcon {
    width: 1em;
    margin: 0.5em;
}

/* https://css-tricks.com/building-a-conference-schedule-with-css-grid/ utilized to help create this */
.schedule {
    border: 5px grey double;
    width: 75%;
    padding: 1em;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-rows:
        [days] 2em
        [time-0800] 1fr
        [time-0900] 1fr
        [time-1000] 1fr
        [time-1100] 1fr
        [time-1200] 1fr
        [time-1300] 1fr
        [time-1400] 1fr
        [time-1500] 1fr
        [time-1600] 1fr
        [time-1700] 1fr
        [time-1800] 1fr
        [time-1900] 1fr
        [time-2000] 1fr
        [time-2100] 1fr
        [time-2200] 1fr;
    grid-template-columns:
        [times] 10%
        [sunday] 1fr
        [monday] 1fr
        [tuesday] 1fr
        [wednesday] 1fr
        [thursday] 1fr
        [friday] 1fr
        [saturday] 1fr;
    grid-auto-flow: dense;

    animation: 1s ease-in-out 0s 1 fade-up;
}

.schedule h3 {
    border-radius: 5px;
    border-width: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.schedule div {
    border-radius: 5px;
    border-width: 0.1em;
    height: 85%;
    width: 90%;
    justify-self: center;

    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    animation: 1s ease-in-out 0s 1 loading-animation;
}

.time-slot {
    font-size: 0.5em;
    text-align: center;
    grid-column: times;
    border-style: ridge;
    height: 60%;
    width: 90%;
    justify-self: center;
    background-color: white;
}

.day-slot {
    font-size: 0.8em;
    grid-row: days;
    border-style: ridge;
    height: 60%;
    width: 90%;
    justify-self: center;
    background-color: lightgray;
    font-style: italic;
    font-weight: bold;
}

/* Days Classes */
.monday {
    grid-column: monday;
}

.tuesday {
    grid-column: tuesday;
}

.wednesday {
    grid-column: wednesday;
}

.thursday {
    grid-column: thursday;
}

.friday {
    grid-column: friday;
}

/* Free Hour */

.FreeHour {
    background-color: grey;
    border: darkgray solid;
    color: white;
    grid-row: time-1200 / time-1300;
}

#FreeHourTue {
    grid-column: tuesday;
}

#FreeHourThu {
    grid-column: thursday;
}

/* Anchor Hyperlinks */
a {
    text-decoration: none black;
    color: inherit;
    background-size: 200%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

}

a:hover {
    text-decoration: none;
    animation: 1s ease-in-out infinite highlight forwards;
    -moz-animation: 1s ease-in-out infinite highlight forwards;
    -webkit-animation: 1s ease-in-out infinite highlight forwards;
}

.schedule div a:hover {
    text-decoration: none;
    /*animation: 1s ease-in-out infinite highlight forwards;*/
    /*-moz-animation: 1s ease-in-out infinite highlight forwards;*/
    /*-webkit-animation: 1s ease-in-out infinite highlight forwards;*/
    animation: 1s ease-in-out 0s 1 fade-up-href;

}

/* Empty Styling */
.empty {
    border-style: ridge;
    height: 90%;
    background-color: white;
}

/*Start Up Animation*/

@keyframes fade-up-href {
    0% {
        background-position: 0;
        transform: scale(5.0);
        opacity: 0;
    }
    
    25% {
        transform: scale(1.2);
        background-position: -100%;
    }

    100% {
        background-position: 0;
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(30px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes loading-animation {
    0% {
        transform: scaleX(0.9)
    }

    100% {
        transform: scaleX(1)
    }
}

@keyframes highlight {
    0% {
        background-position: 0;
    }

    15% {
        background-position: -100%;
    }

    20% {
        background-position: 100%;
    }

    100% {
        background-position:0;
    }
}