/*
Name: Andy Dao
*/

p {
    font-size: 16pt;
}

h1 {

    text-align: center;
    width: 100%;
    padding: 0.1em;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 darkslateblue, 0 1px 2px 0 black;

    /* Picture Background */
    color: white !important;
    background-image: url(/public/headerBackground.png);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    overflow:visible;

    /*width: 100%;*/
    /*height: 100%;*/

    background-repeat: no-repeat;
}

.Header {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*padding: 0 2em 2em;*/

}

#DaoLogo {
    width: 50%;
    margin-bottom: 2em;
    border-radius: 100%;
    border-width: 0.5em;
    border-style: solid;
    border-color: grey;
    box-shadow: 0 4px 8px 0 darkslateblue, 0 6px 20px 0 black;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
}

#DaoLogo:hover {
    box-shadow: 0 4px 40px 0 darkcyan, 0 6px 60px 0 black;
    transform: scale(1.2) rotate(360deg);
    -webkit-transform: scale(1.2) rotate(360deg);
}

.navbar {
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 10px;
}

.nav_links {
    display: flex;
    justify-content: center;
    border: black double;
    /*padding: 1em;*/
    margin: 5px;
    /*height: 1em;*/

    color: white;

    animation-name: highlight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    background-size: 200%;
    background-image: linear-gradient(to right, slategrey 0%, transparent 100%),
    linear-gradient(#DD00DD, #FF00FF);
}

.nav_links:hover {
    animation: 1s ease-in-out infinite highlight forwards;
    -moz-animation: 1s ease-in-out infinite highlight forwards;
    -webkit-animation: 1s ease-in-out infinite highlight forwards;
}

.nav_links img {
    width: 1em;
}

#homeIcon {
    width: 1em;
    margin: 0.5em;
}

/*Start Up Animation*/

@keyframes fade-up-href {
    0% {
        background-position: 0;
        transform: scale(5.0);
        opacity: 0;
    }
    
    25% {
        transform: scale(1.2);
        background-position: -100%;
    }

    100% {
        background-position: 0;
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(30px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes loading-animation {
    0% {
        transform: scaleX(0.9)
    }

    100% {
        transform: scaleX(1)
    }
}

@keyframes highlight {
    0% {
        background-position: 0;
    }

    15% {
        background-position: -100%;
    }

    20% {
        background-position: 100%;
    }

    100% {
        background-position:0;
    }
}

#mainFlexBody {
    display:grid;
    grid-template-columns: 20% 80%;
    justify-content: space-around;
}

#contentPage {
    grid-column: 2;
    margin-right: 2em;
    margin-top: 2em;
}

#sideBar {
    grid-column: 1;
}